.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 14px 10px;
}
.header-top__phone{
  display: flex;
  align-items: center;
  font-style: normal;
}
.header-top__phone-link{
  font-size: 11px;
  color: #000;
}
.header-top__phone-link:hover{
  color: #d9bf8f;
  fill: #d9bf8f;
}
.header-top__bar{
  display: flex;
  font-size: 11px;
}
.bar-list{
  display: flex;
}
.bar-item:not(:last-child){
  border-right: 1px solid #000;
}
.bar-item:first-child{
  padding-right: 22px;
}
.bar-item:nth-child(2){
  padding-right: 35px;
}
.bar-item:nth-child(3){
  padding-right: 33px;
}
.bar-item:first-child,
.bar-item:nth-child(2),
.bar-item:nth-child(3){
  margin-right: 33px;
}
.bar-item__link{
  color: #000;
}
.bar-item__link:hover{
  color: #d9bf8f;
}
// burger

.burger-btn{
  display: none;
  padding: 10px 15px;
  margin-top: 15px;
}
.burger-btn:hover{
  cursor: pointer;
  .burger{
    fill: #d9bf8f;
  }
}
// burger show
.view{
  display: block !important;
  transition: 3s;
}

      /*  header-main  */
.header-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.menu-list{
  display: flex;
  padding: 0;
}
.menu-item:first-child{
  margin-right: 27px;
}
.menu-item:nth-child(2){
  margin-right: 15px;
}
.menu-item:nth-child(3){
  margin-right: 26px;
}
.menu-item__link{
  font-family: 'Playfair_Display-Italic';
  font-size: 18.32px;
  line-height: 0.983;
  color: #000;
}
.menu-item__link:hover{
  color: #d9bf8f;
}
// logo
.header-main__logo{
  padding-top: 32px;
  padding-bottom: 25px;
}
.logo-title{
  font-family: 'KrinkesDecorPERSONAL';
  font-size: 72px;
  line-height: 1.15;

}
// social & currency
.header-main__social-media{
  display: flex;
  align-items: center;
}
.social-media__form{
  position: relative;
  display: flex;
  align-items: center;
  color: #d9bf8f;
  margin-left: 32px;
  width: 98px;
}
.form-currency{
  padding: 14px 25px 14px 20px;
  background: #000;
  font-family: 'Lato-Bold';
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
// arrow pseudo select
.social-media__form:after {
  content: "";
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  pointer-events: none;

  position: absolute;
  right: 10px;
  z-index: 1;
}
.social-media__form:hover:after,
.social-media__form:focus:after{
  border-color: #d9bf8f transparent transparent transparent;
}
.form-currency:hover{
  color: #d9bf8f;
  cursor: pointer;
}
.form-currency:focus{
  color: #d9bf8f;
}
.option{
  padding: 2px;
  color: inherit;
}


// media

@media screen and (max-width: 900px){

  .header-main,
  .header-main__social-media{
    flex-direction: column;
  }
  .header-main__menu{
    padding-top: 20px;
  }
  .social-media__form{
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 680px){

  .header-top{
    flex-direction: column;
  }
  .header-top__phone-link{
    padding-bottom: 10px;
  }
  .bar-list{
    padding: 0;
  }
}

@media screen and (max-width: 500px){


  .bar-list{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 53px;
    left: 50%;
    background: #f2f2f2;
    z-index: 555;
  }
  .header-top{
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .header-top__phone-link{
      padding-bottom: 0;
    }
    .bar-item{
      padding: 10px;
      border-right: none;
      margin-right: 0;
    }
    .burger-btn{
      display: block;
      padding: 0;
      margin-top: 0;
    }
  }
  .header-main__menu{
    padding-top: 10px;
  }
  .header-main__logo{
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .menu-item__link{
    font-size: 17px;
  }
  .social-media__form{
    padding-top: 10px;
    width: 40%;
  }
  .form-currency{
    padding: 10px;
  }
  .social-media__form::after{
    right: 5px;
  }

}