.support{
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
.support-item{
  display: flex;
  align-items: center;
  flex-basis: 30%;
  padding: 28px 0 23px 30px;
  color: #fff;
  background: #d9bf8f;
}
.support-item:nth-child(2){
  background: #000;
  flex-basis: 40%;
}
.support-item__content{
  display: flex;
  flex-direction: column;
}
.support-item__title{
  text-transform: uppercase;
  line-height: .7;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 17px;
}
.support-item__text{
  text-transform: capitalize;
  font-size: 14px;
}