.icon{
  height: 10px;
  width: 10px;
  margin-right: 20px;
}
.social{
  height: 34px;
  width: 34px;
  fill: #d9bf8f;
  margin-right: 12px;
}
.social:hover{
  fill: #000;
}
// support
.sup_icon{
  fill: #fff;
}
.s_air{
  height: 38px;
  width: 38px;
  margin-right: 33px;
}
.s_time{
  height: 42px;
  width: 41px;
  margin-right: 22px;
}
.s_help{
  height: 48px;
  width: 48px;
  margin-right: 28px;
}
// footer
.footer-icon,
.burger{
  fill: #000;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  font-size: 25px;
}
.copyright-icon{
  fill: #818181;
  height: 16px;
  width: 32px;
  flex-shrink: 0;
  margin-right: 20px;
}
// scroll up
.icon-up{
  fill: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  font-size: 25px;
}